# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
release/builder-debug.yml
release/builder-effective-config.yaml
release/LifeLiveWallpaper-win32-x64/chrome_100_percent.pak
release/LifeLiveWallpaper-win32-x64/chrome_200_percent.pak
release/LifeLiveWallpaper-win32-x64/d3dcompiler_47.dll
release/LifeLiveWallpaper-win32-x64/dxcompiler.dll
release/LifeLiveWallpaper-win32-x64/dxil.dll
release/LifeLiveWallpaper-win32-x64/ffmpeg.dll
release/LifeLiveWallpaper-win32-x64/icudtl.dat
release/LifeLiveWallpaper-win32-x64/libEGL.dll
release/LifeLiveWallpaper-win32-x64/libGLESv2.dll
release/LifeLiveWallpaper-win32-x64/LICENSE
release/LifeLiveWallpaper-win32-x64/LICENSES.chromium.html
release/LifeLiveWallpaper-win32-x64/LifeLiveWallpaper.exe
release/LifeLiveWallpaper-win32-x64/resources.pak
release/LifeLiveWallpaper-win32-x64/snapshot_blob.bin
release/LifeLiveWallpaper-win32-x64/v8_context_snapshot.bin
release/LifeLiveWallpaper-win32-x64/version
release/LifeLiveWallpaper-win32-x64/vk_swiftshader_icd.json
release/LifeLiveWallpaper-win32-x64/vk_swiftshader.dll
release/LifeLiveWallpaper-win32-x64/vulkan-1.dll
release/LifeLiveWallpaper-win32-x64/locales/af.pak
release/LifeLiveWallpaper-win32-x64/locales/am.pak
release/LifeLiveWallpaper-win32-x64/locales/ar.pak
release/LifeLiveWallpaper-win32-x64/locales/bg.pak
release/LifeLiveWallpaper-win32-x64/locales/bn.pak
release/LifeLiveWallpaper-win32-x64/locales/ca.pak
release/LifeLiveWallpaper-win32-x64/locales/cs.pak
release/LifeLiveWallpaper-win32-x64/locales/da.pak
release/LifeLiveWallpaper-win32-x64/locales/de.pak
release/LifeLiveWallpaper-win32-x64/locales/el.pak
release/LifeLiveWallpaper-win32-x64/locales/en-GB.pak
release/LifeLiveWallpaper-win32-x64/locales/en-US.pak
release/LifeLiveWallpaper-win32-x64/locales/es-419.pak
release/LifeLiveWallpaper-win32-x64/locales/es.pak
release/LifeLiveWallpaper-win32-x64/locales/et.pak
release/LifeLiveWallpaper-win32-x64/locales/fa.pak
release/LifeLiveWallpaper-win32-x64/locales/fi.pak
release/LifeLiveWallpaper-win32-x64/locales/fil.pak
release/LifeLiveWallpaper-win32-x64/locales/fr.pak
release/LifeLiveWallpaper-win32-x64/locales/gu.pak
release/LifeLiveWallpaper-win32-x64/locales/he.pak
release/LifeLiveWallpaper-win32-x64/locales/hi.pak
release/LifeLiveWallpaper-win32-x64/locales/hr.pak
release/LifeLiveWallpaper-win32-x64/locales/hu.pak
release/LifeLiveWallpaper-win32-x64/locales/id.pak
release/LifeLiveWallpaper-win32-x64/locales/it.pak
release/LifeLiveWallpaper-win32-x64/locales/ja.pak
release/LifeLiveWallpaper-win32-x64/locales/kn.pak
release/LifeLiveWallpaper-win32-x64/locales/ko.pak
release/LifeLiveWallpaper-win32-x64/locales/lt.pak
release/LifeLiveWallpaper-win32-x64/locales/lv.pak
release/LifeLiveWallpaper-win32-x64/locales/ml.pak
release/LifeLiveWallpaper-win32-x64/locales/mr.pak
release/LifeLiveWallpaper-win32-x64/locales/ms.pak
release/LifeLiveWallpaper-win32-x64/locales/nb.pak
release/LifeLiveWallpaper-win32-x64/locales/nl.pak
release/LifeLiveWallpaper-win32-x64/locales/pl.pak
release/LifeLiveWallpaper-win32-x64/locales/pt-BR.pak
release/LifeLiveWallpaper-win32-x64/locales/pt-PT.pak
release/LifeLiveWallpaper-win32-x64/locales/ro.pak
release/LifeLiveWallpaper-win32-x64/locales/ru.pak
release/LifeLiveWallpaper-win32-x64/locales/sk.pak
release/LifeLiveWallpaper-win32-x64/locales/sl.pak
release/LifeLiveWallpaper-win32-x64/locales/sr.pak
release/LifeLiveWallpaper-win32-x64/locales/sv.pak
release/LifeLiveWallpaper-win32-x64/locales/sw.pak
release/LifeLiveWallpaper-win32-x64/locales/ta.pak
release/LifeLiveWallpaper-win32-x64/locales/te.pak
release/LifeLiveWallpaper-win32-x64/locales/th.pak
release/LifeLiveWallpaper-win32-x64/locales/tr.pak
release/LifeLiveWallpaper-win32-x64/locales/uk.pak
release/LifeLiveWallpaper-win32-x64/locales/ur.pak
release/LifeLiveWallpaper-win32-x64/locales/vi.pak
release/LifeLiveWallpaper-win32-x64/locales/zh-CN.pak
release/LifeLiveWallpaper-win32-x64/locales/zh-TW.pak
release/LifeLiveWallpaper-win32-x64/resources/app/.gitignore
release/LifeLiveWallpaper-win32-x64/resources/app/ARCHITECTURE.md
release/LifeLiveWallpaper-win32-x64/resources/app/CLICK_THROUGH_FIX.md
release/LifeLiveWallpaper-win32-x64/resources/app/eslint.config.js
release/LifeLiveWallpaper-win32-x64/resources/app/FIX_BUTTONS_DISAPPEARING.md
release/LifeLiveWallpaper-win32-x64/resources/app/index.html
release/LifeLiveWallpaper-win32-x64/resources/app/LIVE_EDIT_MODE.md
release/LifeLiveWallpaper-win32-x64/resources/app/package.json
release/LifeLiveWallpaper-win32-x64/resources/app/PHASE_2A_COMPLETE.md
release/LifeLiveWallpaper-win32-x64/resources/app/PROJECT_PLAN.md
release/LifeLiveWallpaper-win32-x64/resources/app/README.md
release/LifeLiveWallpaper-win32-x64/resources/app/vite.config.js
release/LifeLiveWallpaper-win32-x64/resources/app/Wallpapers/premanand Ji/1.jpg
release/LifeLiveWallpaper-win32-x64/resources/app/Wallpapers/premanand Ji/2.jpg
release/LifeLiveWallpaper-win32-x64/resources/app/Wallpapers/premanand Ji/3.jpg
release/LifeLiveWallpaper-win32-x64/resources/app/Wallpapers/premanand Ji/4.jpg
release/LifeLiveWallpaper-win32-x64/resources/app/Wallpapers/premanand Ji/5.jpg
release/LifeLiveWallpaper-win32-x64/resources/app/electron/main.js
release/LifeLiveWallpaper-win32-x64/resources/app/electron/preload.js
release/LifeLiveWallpaper-win32-x64/resources/app/public/vite.svg
release/LifeLiveWallpaper-win32-x64/resources/app/src/App.css
release/LifeLiveWallpaper-win32-x64/resources/app/src/App.jsx
release/LifeLiveWallpaper-win32-x64/resources/app/src/index.css
release/LifeLiveWallpaper-win32-x64/resources/app/src/main.jsx
release/LifeLiveWallpaper-win32-x64/resources/app/src/assets/react.svg
release/LifeLiveWallpaper-win32-x64/resources/app/src/components/ActionButtons.css
release/LifeLiveWallpaper-win32-x64/resources/app/src/components/ActionButtons.jsx
release/LifeLiveWallpaper-win32-x64/resources/app/src/components/ComponentSettings.css
release/LifeLiveWallpaper-win32-x64/resources/app/src/components/ComponentSettings.jsx
release/LifeLiveWallpaper-win32-x64/resources/app/src/components/DraggableWidget.css
release/LifeLiveWallpaper-win32-x64/resources/app/src/components/DraggableWidget.jsx
release/LifeLiveWallpaper-win32-x64/resources/app/src/components/PhotoGalleryWidget.css
release/LifeLiveWallpaper-win32-x64/resources/app/src/components/PhotoGalleryWidget.jsx
release/LifeLiveWallpaper-win32-x64/resources/app/src/components/ThemeSettings_preset_section.jsx.tmp
release/LifeLiveWallpaper-win32-x64/resources/app/src/components/ThemeSettings.css
release/LifeLiveWallpaper-win32-x64/resources/app/src/components/ThemeSettings.jsx
release/LifeLiveWallpaper-win32-x64/resources/app/src/components/WorldClockWidget.css
release/LifeLiveWallpaper-win32-x64/resources/app/src/components/WorldClockWidget.jsx
release/LifeLiveWallpaper-win32-x64/resources/app/src/config/config.json
release/LifeLiveWallpaper-win32-x64/resources/app/src/data/components.json
release/LifeLiveWallpaper-win32-x64/resources/app/src/data/themePresets.js
release/LifeLiveWallpaper-win32-x64/resources/app/src/data/timezones.js
release/LifeLiveWallpaper-win32-x64/resources/app/src/utils/storage.js
release/win-unpacked/chrome_100_percent.pak
release/win-unpacked/chrome_200_percent.pak
release/win-unpacked/d3dcompiler_47.dll
release/win-unpacked/dxcompiler.dll
release/win-unpacked/dxil.dll
release/win-unpacked/ffmpeg.dll
release/win-unpacked/icudtl.dat
release/win-unpacked/libEGL.dll
release/win-unpacked/libGLESv2.dll
release/win-unpacked/LICENSE.electron.txt
release/win-unpacked/LICENSES.chromium.html
release/win-unpacked/LifeLiveWallpaper.exe
release/win-unpacked/resources.pak
release/win-unpacked/snapshot_blob.bin
release/win-unpacked/v8_context_snapshot.bin
release/win-unpacked/vk_swiftshader_icd.json
release/win-unpacked/vk_swiftshader.dll
release/win-unpacked/vulkan-1.dll
release/win-unpacked/locales/af.pak
release/win-unpacked/locales/am.pak
release/win-unpacked/locales/ar.pak
release/win-unpacked/locales/bg.pak
release/win-unpacked/locales/bn.pak
release/win-unpacked/locales/ca.pak
release/win-unpacked/locales/cs.pak
release/win-unpacked/locales/da.pak
release/win-unpacked/locales/de.pak
release/win-unpacked/locales/el.pak
release/win-unpacked/locales/en-GB.pak
release/win-unpacked/locales/en-US.pak
release/win-unpacked/locales/es-419.pak
release/win-unpacked/locales/es.pak
release/win-unpacked/locales/et.pak
release/win-unpacked/locales/fa.pak
release/win-unpacked/locales/fi.pak
release/win-unpacked/locales/fil.pak
release/win-unpacked/locales/fr.pak
release/win-unpacked/locales/gu.pak
release/win-unpacked/locales/he.pak
release/win-unpacked/locales/hi.pak
release/win-unpacked/locales/hr.pak
release/win-unpacked/locales/hu.pak
release/win-unpacked/locales/id.pak
release/win-unpacked/locales/it.pak
release/win-unpacked/locales/ja.pak
release/win-unpacked/locales/kn.pak
release/win-unpacked/locales/ko.pak
release/win-unpacked/locales/lt.pak
release/win-unpacked/locales/lv.pak
release/win-unpacked/locales/ml.pak
release/win-unpacked/locales/mr.pak
release/win-unpacked/locales/ms.pak
release/win-unpacked/locales/nb.pak
release/win-unpacked/locales/nl.pak
release/win-unpacked/locales/pl.pak
release/win-unpacked/locales/pt-BR.pak
release/win-unpacked/locales/pt-PT.pak
release/win-unpacked/locales/ro.pak
release/win-unpacked/locales/ru.pak
release/win-unpacked/locales/sk.pak
release/win-unpacked/locales/sl.pak
release/win-unpacked/locales/sr.pak
release/win-unpacked/locales/sv.pak
release/win-unpacked/locales/sw.pak
release/win-unpacked/locales/ta.pak
release/win-unpacked/locales/te.pak
release/win-unpacked/locales/th.pak
release/win-unpacked/locales/tr.pak
release/win-unpacked/locales/uk.pak
release/win-unpacked/locales/ur.pak
release/win-unpacked/locales/vi.pak
release/win-unpacked/locales/zh-CN.pak
release/win-unpacked/locales/zh-TW.pak
release/win-unpacked/resources/app.asar
Wallpapers/premanand Ji/1.jpg
Wallpapers/premanand Ji/2.jpg
Wallpapers/premanand Ji/3.jpg
Wallpapers/premanand Ji/4.jpg
Wallpapers/premanand Ji/5.jpg
